.page-body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include vp-1199 {
      display: block;
    }
  }
}
